/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input {
    border: none;
    outline: none;
    font-family: "Lato", sans-serif;
}

p {
    line-height: 1.4;
    font-size: 20px;
}

/**** body ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    /*cursor: url("img/heart-1.png"), auto;*/
}

/**** header ****/

header {
    background-image: url(img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**** div intro ****/

.intro {
    width: 75%;
    background-color: #fffffe;
    opacity: 0.7;
    border-radius: 12px;
}

.main__title {
    font-size: 50px;
    padding: 24px 12px;
    margin: 0;
}

.main__title,
.subtitle {
    text-align: center;
    padding: 16px;
}

.subtitle {
    font-size: 30px;
    color: #e53170;
}

.main__title,
.logo {
    font-family: "Dancing Script", cursive;
    color: #ff0000;
    text-transform: capitalize;
}

/**** main ****/

.main__content {
    flex-grow: 1;
}

/**** section ****/

section {
    width: 85%;
    margin: 0 auto;
    margin-block: 40px;
    background-color: #fffffe;
    color: #2e2f3e;
}

section,
.box,
input,
.calculate__btn {
    text-align: center;
}

.heading {
    font-size: 30px;
    letter-spacing: 0.9px;
    line-height: 1.8;
    color: #0f0e17;
    margin-bottom: 30px;
    padding-inline: 12px;
}

.wave__emoji {
    display: inline-block;
    transform-origin: 70% 70%;
    animation: wave 1.8s linear infinite;
}

/**** Animation wave ****/

@keyframes wave {

    0%,
    50%,
    100% {
        transform: rotate(0deg);
    }

    10%,
    30% {
        transform: rotate(-10deg);
    }

    20% {
        transform: rotate(12deg);
    }

    40% {
        transform: rotate(9deg);
    }
}

.wave__emoji img {
    height: 30px;
    width: 30px;
    margin-left: 4px;
}


.about {
    text-align: left;
    line-height: 1.7;
}

.box {
    margin-top: 80px;
}

.flex__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.bold {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
}

.yourName,
.yourCrush {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

input {
    padding: 20px 100px;
    width: 100%;
    font-size: 16px;
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: #0f0e17;
}

input,
input::placeholder {
    color: #fffffe;
    font-weight: 600;
}

.calculate__btn {
    font-size: 20px;
    font-weight: 700;
    color: #fffffe;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.calculate__btn img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.calculate__btn img:hover {
    opacity: 0.7;
}

.text__btn {
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/**** section resultTest ****/

.resultTest {
    border: 2px solid #ff0000;
    border-radius: 20px;
    padding-block: 30px;
    display: none;
}

.lovePercentage {
    font-size: 30px;
    margin-block: 30px;
}

.observation {
    margin-bottom: 30px;
    padding-inline: 12px;
}

.reset {
    padding: 20px 30px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0;
    margin-bottom: 15px;
    transition: box-shadow 0.3s ease-in-out
}

.reset:hover {
    box-shadow: 2px 2px 4px rgba(255, 0, 0, 0.69);
}

/**** footer ****/

.footer__text {
    padding: 22px 12px;
    font-size: 26px;
    text-align: center;
    font-family: "Dancing Script", cursive;
}

/**** Responsive design version mobile ****/

@media screen and (max-width: 572px) {
    .main__title {
        font-size: 30px;
    }

    p,
    .reset {
        font-size: 18px;
    }

    section {
        width: 90%;
        margin: 0 auto;
        margin-block: 40px;
    }

    .heading {
        font-size: 24px;
    }

    .reset {
        padding: 20px;
    }
}