/**** Importation des polices Dosis et Pacifico ****/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Pacifico&display=swap');

/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input {
    border: none;
    outline: none;
    font-family: "Dosis", sans-serif;
}

p {
    line-height: 1.4;
    font-size: 20px;
}

/**** body ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Dosis", sans-serif;
}

/**** header ****/

header {
    background-image: url(img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/**** div intro ****/

.intro {
    width: 85%;
    background-color: #fffffe;
    opacity: 0.7;
    border-radius: 12px;
}

.main__title {
    font-size: 50px;
    padding: 24px 12px;
    margin: 0;
}

.main__title,
.subtitle {
    text-align: center;
    padding: 16px;
}

.subtitle {
    font-size: 30px;
    font-weight: 600;
    color: #0f0e17;
}

.main__title,
.logo {
    font-family: "Pacifico", cursive;
    color: #e53170;
    text-transform: capitalize;
}

/**** div down ****/

.down {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #fffffe;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.down img {
    width: 80%;
}

/**** main ****/

.main__content {
    flex-grow: 1;
}

/**** section ****/

section {
    width: 85%;
    margin: 0 auto;
    margin-block: 40px;
    background-color: #fffffe;
    color: #2e2f3e;
}

section,
.box,
input,
.calculate__btn {
    text-align: center;
}

.heading {
    font-size: 30px;
    letter-spacing: 0.9px;
    line-height: 1.8;
    color: #0f0e17;
    font-weight: 700;
    margin-bottom: 40px;
    padding-inline: 12px;
}

.wave__emoji {
    display: inline-block;
    transform-origin: 70% 70%;
    animation: wave 1.8s linear infinite;
}

/**** Animation wave ****/

@keyframes wave {

    0%,
    50%,
    100% {
        transform: rotate(0deg);
    }

    10%,
    30% {
        transform: rotate(-10deg);
    }

    20% {
        transform: rotate(12deg);
    }

    40% {
        transform: rotate(9deg);
    }
}

.wave__emoji img {
    height: 30px;
    width: 30px;
    margin-left: 4px;
}


.about {
    text-align: left;
    line-height: 1.7;
}

.box {
    margin-top: 60px;
}

.flex__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.bold {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
}

.yourName,
.yourCrush {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

input {
    padding: 20px 100px;
    width: 100%;
    font-size: 16px;
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: #0f0e17;
}

input,
input::placeholder {
    color: #fffffe;
    font-weight: 600;
}

.calculate__btn {
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    position: relative;
}

.calculate__btn::after {
    content: "Calculer";
    color: #fffffe;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.calculate__btn i {
    font-size: 200px;
    color: #e53170;
    cursor: pointer;
    animation: beat 1s ease 0.5s infinite normal;
    animation-timing-function: (cubic-bezier(0.61, 0.04, 0.17, 1.32));
}

/**** Animation beat ****/

@keyframes beat {

    0%,
    100% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
    }
}

/**** section resultTest ****/

.resultTest {
    border: 2px solid #e53170;
    border-radius: 20px;
    padding-block: 30px;
    display: none;
}

.lovePercentage {
    font-size: 30px;
    font-weight: 600;
    margin-block: 30px;
}

.observation {
    margin-bottom: 30px;
    padding-inline: 12px;
}

.reset {
    padding: 20px 30px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    background-color: #e53170;
    color: #fffffe;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0;
    margin-bottom: 15px;
    transition: box-shadow 0.3s ease-in-out;
}

.reset:hover {
    box-shadow: 2px 2px 4px rgba(230, 49, 112, 0.69);
}

/**** div separator ****/

.separator {
    width: 75%;
    margin: 30px auto;
    border: 1px solid #2e2f3e;
}

/**** footer ****/

.footer__text {
    padding-inline: 12px;
    margin-bottom: 30px;
    font-size: 26px;
    text-align: center;
    font-family: "Dosis", sans-serif;
}

/**** Responsive design version mobile ****/

@media screen and (max-width: 572px) {

    .intro,
    section {
        width: 90%;
    }

    .main__title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 24px;
    }

    p,
    .reset {
        font-size: 18px;
    }

    section {
        margin: 0 auto;
        margin-block: 40px;
    }

    .heading {
        font-size: 24px;
    }

    .reset {
        padding: 20px;
    }
}