/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input {
    border: none;
    outline: none;
    font-family: "Lato", sans-serif;
}

p {
    line-height: 1.4;
    font-size: 20px;
}

/**** body ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    background-color: #f7f7f7;
    cursor: url("img/heart-1.png"), auto;
}

/**** header ****/

.main__title {
    font-size: 40px;
    text-align: center;
    padding: 22px 12px;
    margin: 0;
}

.main__title,
.logo {
    font-family: "Dancing Script", cursive;
    color: #ff0000;
    text-transform: capitalize;
}

/**** main ****/

.main__content {
    flex-grow: 1;
}

/**** section ****/

section {
    width: 85%;
    margin: 0 auto;
    margin-block: 80px;
}

section,
.box,
input,
.calculate__btn {
    text-align: center;
}

.heading {
    font-size: 30px;
    letter-spacing: 0.9px;
    line-height: 1.8;
    margin-bottom: 30px;
    padding-inline: 12px;
}

.subtitle,
.about {
    text-align: left;
}

.box {
    margin-top: 80px;
}

.flex__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.bold {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
}

.yourName,
.yourCrush {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

input {
    padding: 20px 100px;
    width: 100%;
    font-size: 16px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.calculate__btn {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.calculate__btn img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.calculate__btn img:hover {
    opacity: 0.7;
}

.text__btn {
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/**** section resultTest ****/

.resultTest {
    border: 2px solid #ff0000;
    border-radius: 20px;
    padding-block: 30px;
    display: none;
}

.lovePercentage {
    font-size: 30px;
    margin-block: 30px;
}

.observation {
    margin-bottom: 30px;
    padding-inline: 12px;
}

.reset {
    padding: 20px 30px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0;
    margin-bottom: 15px;
    transition: box-shadow 0.3s ease-in-out
}

.reset:hover {
    box-shadow: 2px 2px 4px rgba(255, 0, 0, 0.69);
}

/**** footer ****/

.footer__text {
    padding: 22px 12px;
    font-size: 26px;
    text-align: center;
    font-family: "Dancing Script", cursive;
}

/**** Responsive design version mobile ****/

@media screen and (max-width: 572px) {
    .main__title {
        font-size: 30px;
    }

    p,
    .reset {
        font-size: 18px;
    }

    section {
        width: 90%;
        margin: 0 auto;
        margin-block: 40px;
    }

    .heading {
        font-size: 24px;
    }

    .reset {
        padding: 20px;
    }
}